* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    color: white;
}

a {
    text-decoration: none;
    color: inherit;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    background-color: maroon;
    padding: 1rem;
}

main {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: salmon;
}

.table-wrapper {
    border: 3px solid white;
    border-radius: 10px;
    overflow: hidden;
}

table,
th,
td {
    /* background-color: green; */
    border: 1px solid white;
    border-collapse: collapse; /* to avoid double borders */
    border-radius: 10px;
    padding: 1.5rem;
    text-align: center;
    font-size: 1.5rem;
}

th {
    background-color: rgb(51, 51, 107);
}

tbody tr {
    background-color: rgb(99, 156, 14);
}

tbody tr:nth-child(even) {
    background-color: rgb(85, 119, 34);
}
